<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium 4 Features">
    <test thread-count="1" name="Selenium 4 Features">
        <classes>
            <class name="com.dineshv.selenium3.ChromeConsoleLogsTests" />
        </classes>
    </test>
</suite>